<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex navbar-lewagon p-3 align-items-center">
      <%= link_to "Restaurants", restaurants_path %>
      <%= link_to new_restaurant_path do %>
        <i class="fas fa-plus"></i> Add new restaurant
      <% end %>
    </div>

    <div class="container py-3">
      <div class="row justify-content-center">
        <div class="col-6">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
